
.App{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mesario{
    position: absolute;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#nome{
    width: 270px;
    height: 20px;
    padding: 10px;
    font-size: 15pt;
    outline: none;
    border: 1px solid black;
    transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#nome:hover{
    border-radius: 10px;
}

#nome:focus{
    border-radius: 10px;
    border: 1px solid rgb(255, 0, 0);
}

#btnLiberar{
    margin: 30px;
    width: 150px;
    height: 40px;
    font-size: 15pt;
    background-color: transparent;
    border-radius: 5px;
    color: black;
    border: 1px solid black;    
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

#btnLiberar:hover{
    border-radius: 10px;
}

#btnLiberar:focus{
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 16pt;
}

#urna-liberada-sucesso{
    font-size: 40pt;
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}